@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 39px;
    background-color: white;
    padding: 30px 30px 16px 30px;
}

img.logo-ichei-admin-cabecalho{
    width: 70px;
}

.titulo-admin{
    color:#18050f;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 24pt;
}

.menu-admin{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btn-encontrados, .btn-reportes, .btn-add-objeto{
    font-family: "Raleway", sans-serif;
    color: #051816;
    font-weight: 700;
    border-radius: 100px;
    background-color: white;
    font-size: 14pt;
    padding: 24px;
    width: 250px;
    margin-right: 10px;
}

.btn-encontrados:hover, .btn-reportes:hover, .btn-add-objeto:hover{
    background-color: #051816;
    color: #A5DEBB;
    cursor:pointer;
}
