<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #c7bfbf;
            color: #fff;
            padding: 10px;
            text-align: right;
        }

        header button:hover {
            background-color: #45a049;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <form action="/logar" method="GET">
            <button type="submit">Login Admin</button>
        </form>
    </header>

    <div class="container">
        <h1>Bem-vindo ao Ichei</h1>
        
        <form action="/formularioPerda" method="GET">
            <button type="submit">Perdi um item</button>
        </form>

        <h1>Ultimos itens Encontrados </h1><br>
    <% itens.forEach(item=> { %>
        Item: <%= item.dataValues.tituloItem %><br />
                    Data da Perda: <%= item.dataValues.data %><br /><br />
                            <% }); %>
    </div>
</body>

</html>
