<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Reportar Item achado
    </title>
    <style>
        body {
            font-family: sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
        }

        label {
            margin-bottom: 5px;
        }

        input,
        textarea {
            padding: 8px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

    </style>
</head>

<body>
    
    <h1>Reporte um item encontrado</h1>

    <form action="/confirmar" method="POST" onsubmit="return confirm('Tem certeza que deseja enviar o formulário?');">
        <label for="nome"> </label>
        <input type="text" id="nome" name="nome" required>

        <label for="tituloItem"></label>
        <input type=tituloItem" id="tituloItem" name="tituloItem" required>

        <label for="email"></label>
        <input type="email" id="email" name="email" required>

        <label for="descricao"></label>
        <textarea id="descricao" name="descricao" rows="5" required></textarea>

        <label for="marca"></label>
        <input type="marca" id="marca" name="marca" required>

        <label for="categoria"></label>
        <input type="categoria" id="categoria" name="categoria" required>

        <label for="curso"></label>
        <input type="curso" id="curso" name="curso" required>

        <label for="periodo"></label>
        <select id="periodo" name="periodo" required>
            <optgroup label="">
                <option value="matutino"></option>
                <option value="vespertino"></option>
                <option value="noturno"></option>
            </optgroup>
        </select>

        <label for="cor">
            cor
        </label>
        <input type="cor" id="cor" name="cor" required>

        <label for="local">
            Local Perda:
        </label>
        <input type="local" id="local" name="local" required>

        <label for="dataPerda">
            Data Perda:
        </label>
        <input type="date" id="dataPerda" name="dataPerda" required>

        <button type="submit">
            Enviar:
        </button>
    </form>

</body>

</html>