<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #c7bfbf;
            color: #fff;
            padding: 10px;
            text-align: right;
        }

        header button:hover {
            background-color: #45a049;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <form action="/admin/users/list" method="GET">
            <button type="submit">Gerenciar Usuários</button>
        </form>
    </header>

    <div class="container">
        <h1>Painel Administrativo</h1>

        <form action="/admin/formularioReporte" method="GET">
            <button type="submit">Reportar Item</button>
        </form>

        <h1>Ultimos itens perdidos </h1><br>
    <% itens.forEach(item=> { %>
        Item: <%= item.dataValues.tituloItem %><br />
            Descricao: <%= item.dataValues.descricao %><br />
                Categoria:<%= item.dataValues.categoria %><br />
                    Data da Perda: <%= item.dataValues.data %><br /><br />
                            <% }); %>
    </div>
</body>

</html>
